body {
    background-color: #EDCB96;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.container {
    background-color: antiquewhite;
    border-radius: 1em;
    padding: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.historical {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.historical .text-dev {
    flex: 1;
}

.historical img {
    max-width: 200px;
    margin-left: 20px;
}

.Subjects {
    border: 1em;
    border-radius: 5px solid white;
    display: flex;
}
.item{
    flex:1145%;
}
 /* Media Queries */
@media (min-width: 960px) {
    .subject,
    .lring {
      display: flex;
    }
  
  
    /* Historical Query */
    .history {
      display: flex;
      width: 100%;
      gap: 20px;
  }
  
  .historyig{
    width: 200px;
    align-self: self-start;
    padding-top: 2em;
  }
  
    .column {
      display: flex;
      gap: 10px;
      margin-inline-start: auto;
    }}
    @media (max-width: 960px){
        body{
          width: 90%;
        }
        /* History class */
      .history {
        display: block;
        width: 90%;
      }
      
      .column {
        display: flex;
        gap: 20px;
      }
      
      .historyig{
        width: 200px;
        align-self: self-start;
        padding-top: 2em;
      }
      .mid{
        order: 1;
      }
      }